.border{
    border-bottom: 1px solid black;
}

.space-up{
    line-height: 70px;
}

.center{

    text-align: center;
}

.large{
    font-size: 40px;
}

.medium{
    font-size: 25px;
    
}
.small{
    font-size: 8px;
    
}

.left{
    text-align: left;
}

.center{
    text-align: center;
}
.right{
    text-align: right;
}